<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - OpenMotionClassifier WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OpenMotionClassifier WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenMotionClassifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7263108D1B4DB9FB00BDBB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726310A11B4DB9FB00BDBB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726310AC1B4DB9FB00BDBB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726310B51B4DB9FB00BDBB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726310C41B4DB9FB00BDBB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
